.js-card{
    padding: 50px 20px;
    margin: 30px 30px;
    border: 1px solid #efefef;
    background-color: aliceblue
}



.js-card-text{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 16px;    
}